{
	"presets": [
	  "@babel/env"
	],
	"plugins": [
		[
		  "@babel/plugin-transform-runtime",
		  {
			"absoluteRuntime": false,
			"corejs": false,
			"helpers": false,
			"regenerator": true,
		  }
		]
	  ]
  }
